{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="user_email">{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <img style="width:5%; margin-top:-45px; margin-right:-10px" src="/static/mail/xmail_logo.png">
    <hr>
    

    <div id="emails-view">
        <div id="emails-view-body">

        </div>
    </div>
    <div id="emails-detail">
       <!-- <ul style="display: flex; flex-direction: column; flex-wrap: wrap; list-style-type: none; height: 306px; width: 200px;"> -->
        <div class="container">
            <div class="row">
                <div class="col-1" style="height: 30px;">
                    <p style="font-weight: bold;">From: </p>
                </div>
                <div class="col-6 " style="margin-left: 40px;">
                    <div id="from_email" class="text-wrap" >
                    </div>
                </div>
            </div>
            <div class="row" style=" margin-top:0px;">
                <div class="col-1" style="height: 30px;">
                    <p style="font-weight: bold;">To: </p>
                </div>
                <div class="col-6 " style="margin-left: 40px;">
                    <div id="to_email" class="text-wrap" > 
                    </div>
                </div>
            </div>
            <div class="row" style=" margin-top:0px;">
                <div class="col-1" style="height: 30px;">
                    <p style="font-weight: bold;">Subject: </p>
                </div>
                <div class="col-6 " style="margin-left: 40px;">
                    <div id="subject_email" class="text-wrap" >
                    </div>
                </div>
            </div>
            <div class="row" style=" margin-top:0px;">
                <div class="col-1" style="height: 30px;">
                    <p style="font-weight: bold;">Timestamp: </p>
                </div>
                <div class="col-6 " style="margin-left: 40px;">
                    <div id="time_email" class="text-wrap" > 
                    </div>
                </div>
            </div>
            <div class="row" style=" margin-top:3px;">
                <div class="col-6">
                        <!-- <input id="reply_email_id" value=""></input> -->
                        <button id="btn_reply" class="btn btn-primary">Reply</button>
                        <button id="btn_archive" class="btn btn-primary">Archive</button>
                </div>
            </div>
        </div>
        <hr>
       <div style="margin-left: 18px;" class="text-wrap">
           <p id="body_email"></p>
       </div>
        <!-- <li id="to_email" style="font-weight: bold;">To: </li>
        <li id="subject_email" style="font-weight: bold;">Subject: </li>
        <li id="timestamp_email" style="font-weight: bold;">Timestamp: </li> -->
       </ul>
       
    </div>

    <div id="compose-view">
        
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input id="btn-submit" type="submit" class="btn btn-primary "/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}

