<%- include('./partials/header') %>
    
<div class="container pt-2">
    <div class="columns is-multiline">
        <div class="column is-four-fifths is-offset-1">
            <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <h1 class="title is-size-3-mobile">#NosEstanMatando</h1>
                <div class="block">
                    <h2 class="subtitle is-size-3-mobile has-text-centered">Que es esto?</h2>
                    <p class="has-text-centered">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam porro, nemo sit pariatur
                        voluptatum enim delectus ab totam tenetur unde quisquam nulla, quia officia dolorem quis
                        blanditiis amet dolores aspernatur?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTEXTO -->
<section class="container pt-5 has-text-centered">
    <div class="block ">
        <h1 class="title is-size-4-mobile">CONTEXTO</h1>
    </div>

    <div class="block">
        <div class="columns is-mobile is-multiline">
            <div class="column is-four-fifths is-offset-1 ">
                <div class="has-text-left">
                    <h2 class="title is-size-5-mobile ">SOCIEDAD</h2>
                    <h3 class="title is-size-6-mobile">
                        Clase Media Colombiana
                    </h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio at dolores sapiente
                        cupiditate tenetur molestias quia harum, placeat minima! Tenetur praesentium consequatur
                        consequuntur enim perspiciatis accusantium ipsa dolore officia cum?</p>
                </div>
            </div>
            <div class="column is-four-fifths is-offset-1 ">
                <div class="has-text-left">
                    <h3 class="title is-size-6-mobile">
                        Pocas Oportunidades, Mucha Carga
                    </h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio at dolores sapiente
                        cupiditate tenetur molestias quia harum, placeat minima! Tenetur praesentium consequatur
                        consequuntur enim perspiciatis accusantium ipsa dolore officia cum?</p>
                </div>
            </div>

        </div>
    </div>

    <div class="block pt-5">
        <div class="columns is-mobile is-multiline">
            <div class="column is-four-fifths is-offset-1 ">
                <div class="has-text-left">
                    <h2 class="title is-size-5-mobile ">ECONOMIA</h2>
                    <h3 class="title is-size-6-mobile">
                        Clase Media Colombiana
                    </h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio at dolores sapiente
                        cupiditate tenetur molestias quia harum, placeat minima! Tenetur praesentium consequatur
                        consequuntur enim perspiciatis accusantium ipsa dolore officia cum?</p>
                </div>
            </div>
            <div class="column is-four-fifths is-offset-1 ">
                <div class="has-text-left">
                    <h3 class="title is-size-6-mobile">
                        Pocas Oportunidades, Mucha Carga
                    </h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio at dolores sapiente
                        cupiditate tenetur molestias quia harum, placeat minima! Tenetur praesentium consequatur
                        consequuntur enim perspiciatis accusantium ipsa dolore officia cum?</p>
                </div>
            </div>

        </div>
    </div>


    <div class="block pt-5">
        <div class="columns is-mobile is-multiline">
            <div class="column is-four-fifths is-offset-1 ">
                <div class="has-text-centered">
                    <div class="block ">
                        <h1 class="title is-size-4-mobile">QUE HACEMOS?</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, hic est molestiae </p>
                    </div>
                </div>
            </div>
            <div class="column is-four-fifths is-offset-1 ">
                <div class="has-text-left">
                    <div class="block">
                        <h3 class="title is-size-6-mobile">
                            Protesta Civil Pacifica
                        </h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio at dolores sapiente
                            cupiditate tenetur molestias quia harum, placeat minima! Tenetur praesentium consequatur
                            consequuntur enim perspiciatis accusantium ipsa dolore officia cum?</p>
                    </div>

                    <div class="block">
                        <h3 class="title is-size-6-mobile">
                            Protesta Civil Pacifica
                        </h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio at dolores sapiente
                            cupiditate tenetur molestias quia harum, placeat minima! Tenetur praesentium consequatur
                            consequuntur enim perspiciatis accusantium ipsa dolore officia cum?</p>
                    </div>
                </div>
            </div>
            <div class="column is-12-mobile">
                <button class="button is-info is-medium btn-add"> <span>
                    <i class="fas fa-envelope"></i>
                </span></button>
            </div>
        </div>
    </div>

</section>


<%- include('./partials/footer') %>