.card-image{
    position: relative;
}
.card-name{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -2rem;
    right: 0rem;
    width: 40vw;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
}

.card-content{
    background-color: #F4F4F4 !important;
}